.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/key.properties
android/local.properties
android/app/debug.keystore
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
lib/gen/

# FVM Version Cache
.fvm/